dotenv
pandas
requests
torch
openai
tiktoken
Pillow
pytesseract
beautifulsoup4
markdownify
frontend
PyMuPDF==1.26.3
opencv-python
dask
pyarrow
wandb
scikit-learn
python-telegram-bot
streamlit
numpy
cryptography
zmq
git+https://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@github.com/aprendesc/swarm-automations.git
git+https://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@github.com/aprendesc/swarm-intelligence.git
git+https://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@github.com/aprendesc/swarm-compute.git