dotenv
pandas
requests
torch
openai
tiktoken
Pillow
pytesseract
beautifulsoup4
markdownify
frontend
PyMuPDF==1.26.3
opencv-python
dask
pyarrow
wandb
scikit-learn
python-telegram-bot
streamlit
numpy
cryptography
zmq